@import url(buttons.css);
@import url(cards.css);
@import url(banner.css);
@import url(footer.css);
@import url(navbar.css);
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Lobster&family=Smooch&display=swap');


h1 {
	margin-top: 0;
	color: blue;
}

body {
	margin: 0;
	background-color: #ddb892;
	font-family: 'Lobster', cursive;
}

a {
	text-decoration: none;
}

.typeform {
	text-align: center;
	margin: 48px 0;
}